<header class="site-header">
  <div class="header-content">
    <div class="logo-container">
      <a href="{{ '/' | relative_url }}" aria-label="Devlog home"></a>
        <img src="{{ '/assets/images/longlogo.png' | relative_url }}" alt="Blog Logo" class="site-logo light-logo">
        <img src="{{ '/assets/images/darklonglogo.png' | relative_url }}" alt="Blog Logo" class="site-logo dark-logo">
        </a>
    </div>
    <nav class="site-nav">
      <a href="{{ '/' | relative_url }}" class="nav-link">Home</a>
      <a href="https://farteam.com.ar/" class="nav-link" target="_blank" rel="noopener noreferrer">Main Site</a>
      <button onclick="toggleTheme()" class="theme-toggle">
        <img src="{{ '/assets/images/LightMode.png' | relative_url }}" alt="Light Mode" class="theme-icon light-icon">
        <img src="{{ '/assets/images/DarkMode.png' | relative_url }}" alt="Dark Mode" class="theme-icon dark-icon">
      </button>
    </nav>
  </div>
</header>
